
    

#btn{
    width: 200px;
    height: 45px;
    background-color: rgba(123, 15, 185, 0.479);
    border-radius: 5px;
}
 /* div{
    border: 5px red solid; */
/* }  */
/* table{
    border: 1px blue solid; */

/* } */
td{
    border:1px blue solid; 
    background-color: aqua;
}